*{
    font-family: sans-serif;
    color: red;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    padding: 0;

}
a{
    text-decoration: none;
}
body{
    background-attachment: fixed;
    background-size: 100% 300%;
}
.titulo{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
}
.menu{
    align-items: center;
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 2px;
}
.menu img{
    width: 150px;
    height: 150px;
    padding: 15px;
    transition: all 500ms ease-out;
}
.menu img:hover{
    rotate: 1.5deg;
    transform: scale(1.1);
    transition: all 500ms ease-out;
}
.logo{
    display: block;
    padding-top: 1px;
    padding-right: 10px;
    margin-top: 0;
    width: 100%;
}
.logo img{
    align-items: center;
    width: 800px;
    height: 300px;
    max-width: 100%;
    transition: all 500ms ease-out;
}
.logo img:hover{
    rotate: 1.5deg;
    transform: scale(1.1);
    transition: all 500ms ease-out;
}
.propuestas{
    size: 40px;
}
.propuestas1{
    display: flex;
    padding-right: 350px;
    padding-left: 350px;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.propuestas1 img{
    display: flex;
    justify-content: center;
}
.propuestas2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.propuestas2 figure{
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 25px
    rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.propuestas2 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    max-width: 100%;
    min-width: 100%;
}
.propuestas2 figure .capas{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(120, 121, 120, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.propuestas2 figure:hover > .capas{
    opacity: 1;
    visibility: visible;
}
.propuestas2 figure:hover > .capas h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.propuestas2 figure:hover > .capas h3{
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all 500ms ease-out;
    margin-top: 10px;
}
.propuestas2 figure:hover > .capas p{
    color: #ffffff;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.propuestas2 figure:hover > img{
    transform: scale(1.3);
}
.marquee{
    width: 100%;
    display: block;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    cursor: pointer;
}
.marquee img{
    width: 200px;
    height: 200px;
}
.redes{
    width: 100%;
    display: flex;
    padding: 1px;
    cursor: pointer;
}
.redes figure{
    width: 150px;
    height: 150px;
}.redes h3{
    font-size: 15px;
}
